<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style='background: #005A31;'>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Guido", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style='background: #005A31'>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Početna", "Index", "Home")</li>
                    <li>@Html.ActionLink("Popis gradova", "Index", "Cities")</li>
                    <li>@Html.ActionLink("Popis mjesta", "Index", "Places")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                    <li>@Html.ActionLink("O nama", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <br><br><br><br>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Guido, by Sintaksni Dijabetičari</p>
        </footer>
    </div>

        <script>

            $('.tree-toggle').click(function () {
            $(this).parent().children('ul.tree').toggle(200);
            });
            $(function () {
            $('.tree-toggle').parent().children('ul.tree').toggle(200);
            })
    </script>
    <style css>
        /* 1st level */
        .nav label {
            color: darkolivegreen;
        }

        .tree > li > a {
            color: #A8CD1B;
        }
        /* 2nd level */
        .tree > li > label {
            padding: 10px 15px;
        }

        /* 3rd level */
        .tree > li > ul > li > a {
            color: #A8CD1B;
            font-size: 10pt;
            margin-left: 20px;
        }
    </style>
</body>

</html>
