<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guido</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Guido", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Početna", "Index", "Home")</li>
                    <li>@Html.ActionLink("Popis gradova", "Index", "Cities")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <

    <script src="Scripts/GoogleMaps.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp3aNN7IXH_AmU59UH2g1s5QC4N2e7r6o&sensor=true"></script>
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        
        <style type="text/css">
            #festival-map {
                height: 500px;
            }
            </style>


    <!--<script src="Scripts/GoogleMaps.js" type="text/javascript"></script>-->
    <!--Main chunk of javascript that creates and controls the map.-->

        <script>
            $('.tree-toggle').click(function () {
                $(this).parent().children('ul.tree').slideToggle(200);
            });
            $(function () {
                $('.tree-toggle').parent().children('ul.tree').slideToggle(200);
            })
    </script>
    <style css>
        /* 1st level */
        .nav label {
            color: darkolivegreen;
        }

        .tree > li > a {
            color: darkseagreen;
        }
        /* 2nd level */
        .tree > li > label {
            padding: 10px 15px;
        }

        /* 3rd level */
        .tree > li > ul > li > a {
            color: lawngreen;
            font-size: 10pt;
            margin-left: 20px;
        }
    </style>
</body>
</html>
