@model IEnumerable<Baza.Place>

@{
    ViewBag.Title = "Index";
}

<h2>Popis mjesta:</h2>

<p>
    @Html.ActionLink("Dodaj novo mjesto", "Create")
</p>
<p>
    @Html.ActionLink("Pogledaj vrste mjesta", "Index", "TypeOfPlaces")
</p>
<table class="table">
    <tr>
        <th>
            Slika:
        </th>
        <th>
            Naziv mjesta:
        </th>
        <th>
            Tip mjesta:
        </th>
        <th>
            Adresa
        </th>
        <th>
            Grad:
        </th>
        <th>
            Mogućnosti:
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfPlace1.NameTypeOfPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City.cityName)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.ID }) |
            @Html.ActionLink("Izbriši", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
