@model IEnumerable<Baza.RoutePoint>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PositionInRoute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place.dscrb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Route.typOfRoute)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PositionInRoute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place.dscrb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Route.typOfRoute)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdRoutePoint }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdRoutePoint }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdRoutePoint })
        </td>
    </tr>
}

</table>
